<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<script src="https://kit.fontawesome.com/35d1b1259c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <header>
     
                <h2>Hamedmvd</h2>
                <a href="#"><button class="btn-exit">Exit</button></a>
                <a href="sendmessage.html"><button class="btn-exit">Send for All</button></a>
                <a href="#"><button class="btn-exit">Download Log <i class="fas fa-download"></i></button></a>
    </header>

    <table id="temptable">
        <tr>
          <th>ID Number</th>
          <th>User Name</th>
          <th>Date Time Created</th>
          <th>User Editing</th>
        </tr>
        <tr>
          <td>12</td>
          <td>Hamedmvd</td>
          <td>12 nov 12:34:00</td>
          <td>
            <a href="#"><i class="fas fa-trash"></i></a>
            <a href="#"><i class="fas fa-edit"></i></a>
        </td>
        </tr>
        <tr>
            <td>12</td>
            <td>Hamedmvd</td>
            <td>12 nov 12:34:00</td>
            <td>
              <a href="#"><i class="fas fa-trash"></i></a>
              <a href="#"><i class="fas fa-edit"></i></a>
          </td>
          </tr>
          <tr>
            <td>12</td>
            <td>Hamedmvd</td>
            <td>12 nov 12:34:00</td>
            <td>
              <a href="#"><i class="fas fa-trash"></i></a>
              <a href="#"><i class="fas fa-edit"></i></a>
          </td>
          </tr>
          <tr>
            <td>12</td>
            <td>Hamedmvd</td>
            <td>12 nov 12:34:00</td>
            <td>
              <a href="#"><i class="fas fa-trash"></i></a>
              <a href="#"><i class="fas fa-edit"></i></a>
          </td>
          </tr>
          <tr>
            <td>12</td>
            <td>Hamedmvd</td>
            <td>12 nov 12:34:00</td>
            <td>
              <a href="#"><i class="fas fa-trash"></i></a>
              <a href="#"><i class="fas fa-edit"></i></a>
          </td>
          </tr>
          <tr>
            <td>12</td>
            <td>Hamedmvd</td>
            <td>12 nov 12:34:00</td>
            <td>
              <a href="#"><i class="fas fa-trash"></i></a>
              <a href="#"><i class="fas fa-edit"></i></a>
          </td>
          </tr>
          <tr>
            <td>12</td>
            <td>Hamedmvd</td>
            <td>12 nov 12:34:00</td>
            <td>
              <a href="#"><i class="fas fa-trash"></i></a>
              <a href="#"><i class="fas fa-edit"></i></a>
          </td>
          </tr>
          <tr>
            <td>12</td>
            <td>Hamedmvd</td>
            <td>12 nov 12:34:00</td>
            <td>
              <a href="#"><i class="fas fa-trash"></i></a>
              <a href="#"><i class="fas fa-edit"></i></a>
          </td>
          </tr>
          <tr>
            <td>12</td>
            <td>Hamedmvd</td>
            <td>12 nov 12:34:00</td>
            <td>
              <a href="#"><i class="fas fa-trash"></i></a>
              <a href="#"><i class="fas fa-edit"></i></a>
          </td>
          </tr>
          <tr>
            <td>12</td>
            <td>Hamedmvd</td>
            <td>12 nov 12:34:00</td>
            <td>
              <a href="#"><i class="fas fa-trash"></i></a>
              <a href="#"><i class="fas fa-edit"></i></a>
          </td>
          </tr>
      </table>
      
</body>
</html>
